table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
td {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  text-align: center;
}

#colorPicker {
  width: 600px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

form {
  width: 600px;
  margin: 0 auto;
}
#output {
text-align: center;
}
